<!DOCTYPE html>
<html>
    <head>
      <title>A First App</title>
      <link rel="stylesheet" href="styles.css">
    </head>
  <body>
      <div id="app">
        <div>
          <label for="goal">Goal</label>
          <input type="text" id="goal" v-model="enteredValue"/>
          <button v-on:click="addGoal">Add Goal</button>
        </div>
        <ul>
          <li v-for="goal in goals">{{ goal }}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="app.js"></script>
  </body>
</html>
